@model List<hunzi.Blog.Model.BlogModel>
@{
    Layout = "~/Areas/Areas/Views/Shared/_Layout.cshtml";
}
<div style="margin:10px;">
    <div class="layui-input-inline">
        <a class="layui-btn" href="/Areas/Home/Add">
            <i class="layui-icon layui-icon-add-1"></i>
            添加
        </a>
    </div>
    <div class="layui-input-inline">
        <input id="txttitle" placeholder="标题关键字" type="text" class="layui-input" />
    </div>
    <div class="layui-input-inline">
        <input id="txtstartdate" placeholder="开始日期" type="text" class="layui-input" />
    </div>
    <div class="layui-input-inline">
        <input id="txtenddate" placeholder="结束日期" type="text" class="layui-input" />
    </div>
    <div class="layui-input-inline">
        <select id="CategoryType" class="layui-input" style="width: 150px;">
            <option selected="selected" value="0">所有分类</option>
            @foreach (hunzi.Blog.Model.CategoryModel item in ViewBag.CaList)
            {
                <option value="@item.CBh">@item.CName</option>
            }
        </select>
    </div>
    <button type="button" class="layui-btn" id="btnSearch"><i class="layui-icon">&#xe615;</i> 查 询</button>
    <div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>博客标题</th>
                    <th>发布时间</th>
                    <th>博客类型</th>
                    <th>访问量</th>
                    <th align="center">操作</th>
                </tr>
            </thead>
            <tbody id="BlogList">
                @*@foreach (hunzi.Blog.Model.BlogModel item in ViewBag.BlogList)
                    {
                        <tr>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.CreateDate
                            </td>
                            <td>
                                @item.CName
                            </td>
                            <td>
                                @item.ViewNum
                            </td>
                            <td>
                                <a href="/Areas/Home/Add/@item.Bid"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                                <a href="javascript:viod()0;"onclick="Del(@item.Bid)"><i class="layui-icon layui-icon-delete"></i>删除</a>
                            </td>
                        </tr>
                    }*@
            </tbody>
        </table>
    </div>
    <div>
        <div style="float:left;line-height:55px;margin:0 15px;font-size:14px;">
            当前共<span id="totalCount"></span>篇文章，第<span id="pageIndex"></span>页/共<span id="pageCount"></span>页
        </div>
    </div>
    <div id="page"></div>
</div>
<script>
    var PageSize = 10;
    function Del(id) {
        layui.use(['layer'], function () {
            var layer = layui.layer, $ = layui.jquery;
            var url = "/Areas/Home/Delete/" + id;
            layer.confirm('是否确认删除?', function () {
                $.post(url, function (mse) {
                    layer.alert(mse, function () { location.reload() });
                })

            })
        });
    };

    LoadBlogList(1);
    function LoadBlogList(pageIndex) {
        layui.use(['laydate', 'layer', 'laypage'], function () {
            var laydate = layui.laydate, layer = layui.layer, laypage = layui.laypage;

            laydate.render({
                elem: '#txtstartdate'
            });
            laydate.render({
                elem: '#txtenddate'
            });

            var title = $.trim($('#txttitle').val());
            var startTime = $('#txtstartdate').val();
            var endTime = $('#txtenddate').val();
            var cBh = $('#CategoryType').val();
            var Data = {
                model: {
                    Title: title,
                    StartTime: startTime,
                    EndTime: endTime,
                    CBh: cBh
                },
                pageSize: PageSize,
                pageIndex: pageIndex
            };
            var url = "/Areas/Home/GetBlogList";
            var BlogListHtml = document.getElementById("BlogList");
            $.post(url, Data, function (data) {
                //console.log(data);
                if (pageIndex == 1) {
                    laypage.render({
                        elem: 'page',
                        count: data.total,
                        limit: PageSize,
                        jump: function (obj, first) {
                            if (!first) {
                                $('#pageIndex').html(obj.curr);
                                LoadBlogList(obj.curr);
                            }
                        }
                    });
                }
                $('#pageCount').html(data.pageCount);
                $('#totalCount').html(data.total);
                $('#pageIndex').html(pageIndex);
                var Html = "";
                $.each(data.data, function (i, obj) {
                    Html += " <td>" + obj.title + "</td> <td>" + obj.createDate + "</td> <td>" + obj.cName + "</td> <td>" + obj.viewNums + "</td> <td><a href='/Areas/Home/Add/" + obj.bId + "' title='编辑'><i class='layui-icon layui-icon-edit'></i>编辑</a><a href='javascriprt:void(0);' onclick='Del(" + obj.bId + ")' title='删除'><i class='layui-icon layui-icon-delete'></i>删除</a></td></tr >";
                });
                BlogListHtml.innerHTML = Html;
            });
        });
    };

    $("#btnSearch").click(function () {
        LoadBlogList(1);
    });

</script>
